body {
    padding: 50px;
    margin: auto;
    text-size-adjust: 18px;
    background-image: url(/Images/Ultimate_Frisbee_Background.jpg);

}

header {
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: larger;
    color: red;
}

 nav a {
    text-decoration: none;
    text-decoration-line: none;
    margin: 10%;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 20px;

}

img {
   border-radius: 20px;
   margin-left: 30px;
   margin-right: 15px;
   display: block;
   align-items: center;
   border: solid whitesmoke;

   
}


.left{
    text-decoration: none;
    text-decoration-line: none;
    background-color: black;
    margin-right: 727px ;
}

p {
    color: rgb(255, 255, 255);
}

.history:hover, .teams:hover, .index:hover, .usa:hover {
    color: #ff0000;
    box-shadow: 0 0 4px #01ff09 inset;

}









